* {
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #BCE8F3;
    color: white;
  }
  button{
    background-color: #001233;
    color: white ;
    height: 40px;
    border-radius: 10px;
 }

Link {
  color: white;
}